<div class="row d-flex justify-content-between lead mt-1">
    <div class="col-auto d-none d-sm-block font-weight-bold">+7 (978) 722-46-11</div>
    <div class="col-auto d-none d-md-block font-weight-bold">+7 (978) 722-46-55</div>
    <div class="col-auto d-none d-lg-block font-weight-bold">gorodok-96500@mail.ru</div>
    <div class="col d-flex justify-content-center col-sm-auto">
        {% for network in social_networks %}
        <a href="{{ network.link }}" target="_blank">
            <img src="{{ network.image.url }}" class="SocialNetwork mr-1" alt="">
        </a>
        {% endfor %}
    </div>
</div>