<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% include 'agency/Forms/FilterForms/real_estate_filters.html' %}
    <div class="form-row">
        <div class="col-12 col-sm-6 col-md-4">
            <div class="mb-2">
                <label class="mb-0">Количество комнат:</label>
                <div class="form-row">
                    <div class="col">
                        {{ form.number_of_rooms_from.errors }}
                        {{ form.number_of_rooms_from }}
                    </div>
                    <div class="col">
                        {{ form.number_of_rooms_to.errors }}
                        {{ form.number_of_rooms_to }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
            <div class="mb-2">
                <label class="mb-0">Номер этажа:</label>
                <div class="form-row">
                    <div class="col">
                        {{ form.floor_number_from.errors }}
                        {{ form.floor_number_from }}
                    </div>
                    <div class="col">
                        {{ form.floor_number_to.errors }}
                        {{ form.floor_number_to }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'agency/Forms/FilterForms/submit_button.html' %}
</form>