{% extends 'agency/Basic/basic.html' %}
{% load static %}
{% load agency_extras %}
{% block styles %}
<link rel="stylesheet" href="{% static 'agency/CSS/real_estate.css' %}">
{% endblock %}
{% block content %}
{% block form_type %}
{% endblock %}
{% if hot_real_estate %}
<h1 class="display-4 text-center mb-3">Горячие предложения</h1>
<div class="card-deck real-estate-cards">
    {% for estate in hot_real_estate %}
    <div class="card bg-light mb-3">
        <a href="{% url details_page estate.id %}" target="_blank">
            <img src="{{ estate.image.url }}" class="card-img-top fit-image" alt="">
        </a>
        <div class="card-body d-flex flex-column align-items-center">
            <a class="card-link" href="{% url details_page estate.id %}" target="_blank">
                <h5 class="card-title lead">{{ estate.title_text }}</h5>
            </a>
            <p class="card-text">Арт. {{ estate.vendor_code }}</p>
        </div>
        <div class="card-footer">
            <p class="text-center mb-0">{{ estate.price|price_value }} ₽</p>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% block real_estate_header %}
{% endblock %}
{% if real_estate %}
<div class="row justify-content-center">
    {% include 'agency/RealEstate/pagination.html' %}
</div>
<div class="card-deck real-estate-cards">
    {% for estate in real_estate %}
    <div class="card bg-light mb-3">
        <a href="{% url details_page estate.id %}" target="_blank">
            <img src="{{ estate.image.url }}" class="card-img-top fit-image" alt="">
        </a>
        <div class="card-body d-flex flex-column align-items-center">
            <a class="card-link" href="{% url details_page estate.id %}" target="_blank">
                <h5 class="card-title lead">{{ estate.title_text }}</h5>
            </a>
            <p class="card-text">Арт. {{ estate.vendor_code }}</p>
        </div>
        <div class="card-footer">
            <p class="text-center mb-0">{{ estate.price|price_value }} ₽</p>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row justify-content-center">
    {% include 'agency/RealEstate/pagination.html' %}
</div>
{% else %}
<p class="lead">Объявления не найдены.</p>
{% endif %}
{% endblock %}