{% extends 'agency/Basic/basic.html' %}
{% load static %}
{% load agency_extras %}
{% block content %}
{% if hot_real_estate %}
<h1 class="display-4 text-center mb-3">Горячие предложения</h1>
<div class="row">
    {% for estate in hot_real_estate %}
    <div class="col-12 col-sm-6 col-lg-4 mb-3">
        <div class="card">
            <div class="card-body d-flex flex-column align-items-center">
                <h5 class="card-title lead">{{ estate.title_text }}</h5>
                <p class="card-text">Арт. {{ estate.vendor_code }}</p>
                <a href="{% url details_page estate.id %}">
                    <img src="{{ estate.image.url }}" class="img-fluid" alt="">
                </a>
            </div>
            <div class="card-footer d-flex flex-column align-items-center">
                <p> {{ estate.price|price_value }} ₽</p>
                <a class="btn btn-outline-success" href="{% url details_page estate.id %}" role="button">
                    Подробнее
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
{% block real_estate_header %}
{% endblock %}
<div class="row">
    <button class="btn btn-outline-success d-block d-md-none ml-3 mb-3" id="buttonFilters">Фильтры</button>
    <div class="col-12 col-md-3 d-none d-md-block" id="filtersColumn">
        {% block form_type %}
        {% endblock %}
    </div>
    <div class="col-12 col-md-9">
        <div class="row">
            {% if real_estate %}
            {% for estate in real_estate %}
            <div class="col-12 col-sm-6 mb-3">
                <div class="card">
                    <div class="card-body d-flex flex-column align-items-center">
                        <h5 class="card-title lead">{{ estate.title_text }}</h5>
                        <p class="card-text">Арт. {{ estate.vendor_code }}</p>
                        <a href="{% url details_page estate.id %}">
                            <img src="{{ estate.image.url }}" class="img-fluid" alt="">
                        </a>
                    </div>
                    <div class="card-footer d-flex flex-column align-items-center">
                        <p> {{ estate.price|price_value }} ₽</p>
                        <a class="btn btn-outline-success" href="{% url details_page estate.id %}" role="button">
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <p class="lead">Объявления не найдены.</p>
            {% endif %}
        </div>
    </div>
</div>
<script src="{% static 'agency/JS/filters.js' %}"></script>
{% endblock %}